header.header
	.container
		.header__content
			a.logo(href="#")

			.menu.header__menu
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Главная
					li.menu__item
						a.menu__link(href="#") О нас
				button.menu__toggle
					span.menu__lines